.oracle-updates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oracle-health-timeline-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 174px;
  gap: 2px;

  .timeline-cell {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.2);
      z-index: 10;
    }
  }
}