.node-url-hidden {
  &:before {
    content: '**********';
  }

  span {
    display: none;
  }

  &:hover {
    &:before {
      content: none !important;
    }

    span {
      display: unset !important;;
    }
  }
}